GATEHUB_DB={{ gatehub_db }}
GATEHUB_ADMIN_LISTEN={{ gatehub_admin_listen }}
GATEHUB_ADMIN_AUTH={{ gatehub_admin_auth }}
GATEHUB_ADMIN_OIDC_ISSUER={{ gatehub_admin_oidc_issuer }}
GATEHUB_ADMIN_OIDC_CLIENT_ID={{ gatehub_admin_oidc_client_id }}
GATEHUB_ADMIN_OIDC_CLIENT_SECRET={{ gatehub_admin_oidc_client_secret }}
GATEHUB_ADMIN_OIDC_REDIRECT_URL={{ gatehub_admin_oidc_redirect_url }}
GATEHUB_ADMIN_OIDC_ALLOWED_EMAILS={{ gatehub_admin_oidc_allowed_emails }}
GATEHUB_PUBLIC_LISTEN={{ gatehub_public_listen }}
GATEHUB_PUBLIC_AUTH={{ gatehub_public_auth }}
GATEHUB_PUBLIC_CERT={{ gatehub_public_cert }}
GATEHUB_PUBLIC_KEY={{ gatehub_public_key }}
GATEHUB_CLIENT_CA={{ gatehub_client_ca }}
GATEHUB_CLIENT_CRL={{ gatehub_client_crl }}
GATEHUB_SIGHTING_RETENTION={{ gatehub_sighting_retention }}
GATEHUB_WEB_SHADOW_ENABLED={{ gatehub_web_shadow_enabled | bool | lower }}
GATEHUB_WEB_SHADOW_MIN_NETWORKS={{ gatehub_web_shadow_min_networks }}
GATEHUB_WEB_SHADOW_MIN_SIGNALS={{ gatehub_web_shadow_min_signals }}
GATEHUB_WEB_SHADOW_MIN_ERROR_RATIO={{ gatehub_web_shadow_min_error_ratio }}
GATEHUB_WEB_SHADOW_REQUIRE_MULTI_SCOPE={{ gatehub_web_shadow_require_multi_scope | bool | lower }}
GATEHUB_WEB_SHADOW_PROPOSED_TTL={{ gatehub_web_shadow_proposed_ttl }}
GATEHUB_TRUSTED_HOME_IPV4_URLS={{ gatehub_trusted_home_ipv4_urls }}
GATEHUB_TRUSTED_HOME_IPV6_PREFIX={{ gatehub_trusted_home_ipv6_prefix }}
GATEHUB_TRUSTED_DNS_NAMES={{ gatehub_trusted_dns_names }}
GATEHUB_TRUSTED_SOURCE_REFRESH={{ gatehub_trusted_source_refresh }}
GATEHUB_TRUSTED_SOURCE_GRACE={{ gatehub_trusted_source_grace }}
