GATEHUB_DB={{ gatehub_db }}
GATEHUB_ADMIN_LISTEN={{ gatehub_admin_listen }}
GATEHUB_ADMIN_AUTH={{ gatehub_admin_auth }}
GATEHUB_ADMIN_WEBAUTHN_RPID={{ gatehub_admin_webauthn_rpid }}
GATEHUB_ADMIN_WEBAUTHN_ORIGIN={{ gatehub_admin_webauthn_origin }}
GATEHUB_PUBLIC_LISTEN={{ gatehub_public_listen }}
GATEHUB_PUBLIC_AUTH={{ gatehub_public_auth }}
GATEHUB_PUBLIC_CERT={{ gatehub_public_cert }}
GATEHUB_PUBLIC_KEY={{ gatehub_public_key }}
GATEHUB_CLIENT_CA={{ gatehub_client_ca }}
GATEHUB_CLIENT_CRL={{ gatehub_client_crl }}
