GATEHUB_DB={{ gatehub_db }}
GATEHUB_ADMIN_LISTEN={{ gatehub_admin_listen }}
GATEHUB_ADMIN_AUTH={{ gatehub_admin_auth }}
GATEHUB_ADMIN_OIDC_ISSUER={{ gatehub_admin_oidc_issuer }}
GATEHUB_ADMIN_OIDC_CLIENT_ID={{ gatehub_admin_oidc_client_id }}
GATEHUB_ADMIN_OIDC_CLIENT_SECRET={{ gatehub_admin_oidc_client_secret }}
GATEHUB_ADMIN_OIDC_REDIRECT_URL={{ gatehub_admin_oidc_redirect_url }}
GATEHUB_ADMIN_OIDC_ALLOWED_EMAILS={{ gatehub_admin_oidc_allowed_emails }}
GATEHUB_PUBLIC_LISTEN={{ gatehub_public_listen }}
GATEHUB_PUBLIC_AUTH={{ gatehub_public_auth }}
GATEHUB_PUBLIC_CERT={{ gatehub_public_cert }}
GATEHUB_PUBLIC_KEY={{ gatehub_public_key }}
GATEHUB_CLIENT_CA={{ gatehub_client_ca }}
GATEHUB_CLIENT_CRL={{ gatehub_client_crl }}
